/* css selectors w3schools */

.colorblue.fwbold {
    color: blue;
    font-weight: bold;
}

.colorb .fwnormal {
    color: blue;
    font-weight: normal;
}

li:last-child {
    color: blueviolet;
}

 ul> li:first-child {
    color: blueviolet;
 }

 li:nth-child(even) {
    background: pink;
 }

 li:nth-child(odd) {
    background: blue;
 }

 li:nth-child(2) {
    background: red;
 }

 li:nth-child(3n+1) {
    background:violet;
 }

/* css selectors */

h1, h2, h3, h4, h5, h6 {
    color: #fb9e9e;
}

h1 {
    font-size:20px;
}

#firtsarticle {
    font-size: 10px;
}

.text-red {
    color:red;
}

.text-mor {
    color:rgb(143, 9, 121);
}

.fs-small {
    font-size: 15px;
}

.fs-medium {
    font-size: 30px;
}

.fs-large {
    font-size: 45px;
}
